/*==============================
  Reset
===============================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
  /*  overscroll-behavior: none; if scroll is rubberbanding at the top */
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
a,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  background-color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

/*==============================
  Custom styles
===============================*/
:root {
  /* Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);

  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
  
  --bg-body: hsl(0, 0%, 96%);
  
  /* Typography */
  --font-size-body: 18px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-family: "DM Sans", sans-serif;

  --subheading-sm: clamp(1.5625rem, 1.3294rem + 0.9945vw, 2.125rem);
  --subheading-md: clamp(1.75rem, 1.4392rem + 1.326vw, 2.5rem);
  --subheading-lg: clamp(2.75rem, 2.232rem + 2.2099vw, 4rem);

  /* Spacing */
  --spacing-16-24: clamp(1rem, 0.7928rem + 0.884vw, 1.5rem);

  --card-radius: 0.6rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  background-color: var(--bg-body);
  color: var(--black);
}

h1,
h2 {
  font-weight: var(--font-weight-medium);
  line-height: .9;
  letter-spacing: -1px;
}

h2 {
  font-size: var(--subheading-sm);
}

section {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--card-radius);
  justify-content: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
}

/*==============================
  Media queries
===============================*/
@media (min-width: 64rem) {
  section {
   padding: 1.5rem;
  }
}