---
import { Image } from "astro:assets";
import audienceGrowth from "../assets/images/illustration-audience-growth.webp";
---

<section>
  <h2>
    <span class="percentage">&gt;56%</span>
    <span>faster audience growth</span>
  </h2>

  <Image src={audienceGrowth} alt="Three user profile avatars" width={170} />
</section>

<style>
  section {
    padding: 1.5rem;
    gap: 1.5rem;
    text-align: start;
    grid-area: audience;
  }

  h2 {
    font-size: var(--font-size-body);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: var(--font-weight-regular);
  }

  span.percentage {
    font-size: var(--subheading-lg);
    font-weight: var(--font-weight-medium);
  }


</style>
