---
import { Image } from "astro:assets";
import starsImage from "../assets/images/illustration-five-stars.webp";
---

<section>
  <h1>
    Social Media
    <span class="highlight">10x</span>
    <span class="italic">Faster</span>
    with AI
  </h1>

  <div class="rating">
    <Image src={starsImage} alt="5 star rating" width={180} />
    <span class="reviews">Over 4,000 5-star reviews</span>
  </div>
</section>

<style>
  section {
    align-items: center;
    text-align: center;
    background-color: var(--purple-500);
    color: var(--white);
    padding: clamp(2.5rem, 1.8785rem + 2.6519vw, 4rem);
    grid-area: hero;
  }

  h1 {
    margin-bottom: clamp(1rem, 0.1176rem + 2.9412vw, 2rem);
    font-size: clamp(2.5rem, 1.982rem + 2.2099vw, 3.75rem);
  }

  span.highlight {
    color: var(--yellow-500);
  }

  span.italic {
    font-style: italic;
  }

  span.reviews {
    font-size: 1rem;
  }

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 1.5rem;
    gap: 0.4rem;
  }
</style>
