---
import { Image } from "astro:assets";
import multiplePlatforms from "../assets/images/illustration-multiple-platforms.webp";
---

<section>
  <Image
    src={multiplePlatforms}
    alt="Instagram and X platform icons"
    class="multiple-platforms-img"
  />
  <h2>Manage multiple accounts and platforms.</h2>
</section>

<style>
  section {
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    padding: var(--spacing-16-24);
    gap: 1rem;
    grid-area: manage;
  }

  .multiple-platforms-img {
    border-radius: 100vw;
    width: 100%;
    filter: drop-shadow(0 0 0.5rem hsl(0 0% 15% / 0.1));
  }

  @media (min-width: 64rem) {
    section {
      align-items: baseline;
      overflow: clip;
    }

    .multiple-platforms-img {
      max-width: none;
      width: 150%;
    }
  }
</style>
